<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="main">
            <header>
                <div class="row">
                    <div class="bloco12 vermelho">

                    </div>
                </div>
            </header>
            <section id="conteudo">
                <div class="row">

                    <div class="bloco9 ">
                        <div class="bloco12 amarelo"></div>
                        <div class="bloco12 verde"></div>
                    </div> 

                    <div class="bloco3 azul"></div>
                </div>
            </section>

            <footer id="rodape">
                <div class="row">
                    <div class="bloco12 roxo"></div>
                </div>
            </footer>
        </div>
    </body>
</html>