
/*configuracao basica*/
#main{width:1024px;margin:0 auto;}
.row{clear: both;}
.content{width: 980px;margin:0 auto; }
p{
    text-overflow: clip;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin: auto;
    margin-bottom: 1rem;
    text-align: left;
    text-justify: auto;
    
}

h1{
    display: block;
    margin-bottom:.5rem;
    width: 100%;
}

/*blocos*/
.bloco12{width:100%;float:left;}
.bloco9{width:75%;float:left;}
.bloco8{width:66.6666666667%;}
.bloco4{width:33.3333333333%;float:left;}
.bloco3{width:25%;float: left;}

/*menus*/
#cabecalho{
    margin-top: 1px;
    background-color: crimson;
    height: 180px;
    background-size: cover;
}
.menu-principal ul{
    
    list-style: none; 
    position: absolute; 
    display: block;
    top: 5px;
    right: 20px;
}
.menu-principal li{
    display: inline-block; 
    margin: 2px;
    text-transform: uppercase;
}

.menu-principal a{text-decoration: none;}

.logo{text-align: center;padding: 65px;}

/*imagens*/
.image1{height: 200px;}
.image2{height: 300px;}

/*cores*/
.amarelo{background-color: yellow;}

/**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*reset*/
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}







