<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>layout-quatro</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        
        <div id="main">
            <header id="topo">
                <div class="row">
                    <div class="bloco12 altura1 vermelho"></div>
                </div>
            </header>

            <section id="conteudo">
                
                <div class="row">
                    <div class="bloco5">
                        <div class="bloco12 altura1 amarelo"></div>  
                        <div class="bloco12 altura1 preto"></div>
                        <div class="bloco12 altura1 roxo"></div>
                    </div>

                    <div class="bloco5">
                        <div class="bloco6 altura3 roxo"></div>
                        <div class="bloco6 altura3 laranja"></div>
                        <div class="bloco12 altura1 preto"></div>
                    </div>

                    <div class="bloco2">
                        <div class="bloco12 altura2 azul"></div>
                        <div class="bloco12 altura2 amarelo"></div>
                    </div>

                </div>
            </section>

            <footer id="rodape">
                <div class="row">
                    
                        <div class="bloco6 altura1 laranja"></div>
                        <div class="bloco6 altura1 vermelho"></div>
                        
                </div>
            </footer>

        </div>

    </body>
</html>

