<!DOCTYPE html>

<html>
    <head lang="pt-br">
        <!-- todo elemento vai estar em  -->
        <meta charset="UTF8">
        <link rel="stylesheet" href="style.css">
        <title>layout-treino</title>
    </head>
    <body>
        <div id="main">
            <header id="topo">
                <div class="row">
                    <div class="bloco12 preto">

                     </div>
                </div>
            </header>

            <section id="conteudo">
                <div class="row">
                        <div class="bloco6 verde">
                   
                        </div>

                         <div class="bloco3 roxo">
                           
                        </div>

                        <div class="bloco3 amarelo">

                        </div>
                </div>
            </section>


            
            <footer id="rodape">
                <div class="row">
                    <div class="bloco12 azul">
                      
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>