<!DOCTYPE html>

<html>
    <head lang="pt-be">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>layout-aula-3</title>
    </head>
    <body>
        <div id="main">
            <header>
                <div class="row">
                    <div class="bloco12 vermelho altura1">

                    </div>
                </div>
            </header>
            <section>
                <div class="row">
                        <div class="bloco3">
                            <div class="bloco12 vermelho altura2"></div>
                            <div class="bloco12 amarelo altura2"></div>
                        </div> 
                
                    <div class="bloco6">
                        <div class="bloco12 laranja altura1"></div>
                        <div class="bloco6 preto altura1"></div>
                        <div class="bloco6 roxo altura1"></div>
                        <div class="bloco12 azul altura1"></div>
                    </div>
                                            <div class="bloco3">
                                <div class="bloco12 vermelho altura2"></div>
                                <div class="bloco12 amarelo altura2"></div>
                            </div>   

                </div>
            </section>
            <footer id="rodape">
                <div class="row">
                    <div class="bloco12 vermelho altura1"></div>
                </div>
            </footer>
        </div>
    </body>
</html>